# IDE - Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Build Output
bin/
gen/
out/
build/
app/build/

# Gradle
.gradle/
build.gradle.kts.swp
gradle-app.setting
!gradle-wrapper.jar

# Local config (Crucial to ignore)
local.properties

# OS specific
.DS_Store
Thumbs.db

# Android Specific
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
